# 점프투파이썬 2장 이어서
## 3절 리스트

In [1]:
print("문자열은 이렇게")

문자열은 이렇게

In [2]:
print(123)

123

### 리스트 만들기

In [4]:
# 빈 리스트
a = []
a

[]

In [5]:
b = [1, 2, 3]
b

[1, 2, 3]

In [10]:
c = ["Life", "is", "too", "short"]
c

['Life', 'is', 'too', 'short']

In [14]:
d = [1, 2, "Life", "is"]
d

[1, 2, 'Life', 'is']

In [28]:
e = [1, 2, ["Life", "is"]]
e

[1, 2, ['Life', 'is']]

### 리스트의 인덱싱

In [20]:
d[0 : 3] #공간상 첫째자리부터 3번째 자리까지(2번)

[1, 2, 'Life']

In [2]:
a = [1, 2, 3]
a

[1, 2, 3]

In [23]:
a[1]

2

In [24]:
a[-1]

3

In [4]:
a[-3:-1]

[1, 2]

In [3]:
a[-2]

2

In [29]:
e[2][0]

'Life'

### 리스트의 슬라이싱

In [30]:
a = [1, 2, 3, 4, 5]

In [33]:
b = a[0:2]
b

[1, 2]

In [35]:
b = a[:2]
b

[1, 2]

### 프린트의 연산자

In [38]:
print(a, b)
b
a
#한번에 다 표시하려면 print함수 사용이 필요

[1, 2, 3, 4, 5] [1, 2]

[1, 2, 3, 4, 5]

In [43]:
c = a + b
c

[1, 2, 3, 4, 5, 1, 2]

In [44]:
c * 3

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정, 변경, 삭제

In [60]:
#하나의 값 수정하기
a = [1, 2, 3]
a

[1, 2, 3]

In [47]:
a[2] = 4
a

[1, 2, 4]

In [56]:
#연속된 범위의 값 바꾸기
a[2:3]

[3]

In [57]:
a[2:3] = ['a', 'b', 'c']
a
# 슬라이스로 실행시 해당 위치에 삽입

[1, 2, 'a', 'b', 'c']

In [61]:
a[2] = ['a', 'b', 'c']
a 
#리스트를 통째로 삽입하여 중첩 가능

[1, 2, ['a', 'b', 'c']]

In [62]:
#리스트 요소 삭제
del a[2]
a

[1, 2]

In [64]:
a = [1, 2, 3, 4]
del a[1:3]
a

[1, 4]

## 리스트 함수

In [67]:
# 리스트에 요소를 하나 추가할 때
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [69]:
a. append([4, 5])
a

[1, 2, 3, 4, [4, 5]]

In [72]:
#리스트 정렬하기
a = [4, 7, 5, 2, 1]
print(a)
a.sort()
a
print(a)

[4, 7, 5, 2, 1]
[1, 2, 4, 5, 7]

In [73]:
#리스트 뒤집기
a.reverse()
a

[7, 5, 4, 2, 1]

In [74]:
#위치 반환
a = [1, 2, 3]
a.index(3)
#3의 위치

2

In [79]:
# 리스트의 요소 삽입
a = [1, 2, 3]
a.insert(0, 4) #0번째 자리에 4를 입력
print(a)

[4, 1, 2, 3]

In [80]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [83]:
#리스트 요소 제거
a = [1, 2, 3, 1, 2, 3]
print(a)
a.remove(3) #첫번째로 나오는 3을 제거
print(a)

[1, 2, 3, 1, 2, 3]
[1, 2, 1, 2, 3]

In [85]:
#리스트 요소 꺼내기
a = [1, 2, 3]
a.pop() #맨 뒤에 있는 요소 꺼내짐

3

In [87]:
a

[1, 2]

In [88]:
#요소 개수 세기
a = [1, 2, 3, 1]
a.count(1)

2

In [90]:
# 리스트 확장
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [92]:
#append 명령어 사용시 리스트를 삽입
a.append([4, 5])
a

[1, 2, 3, 4, 5, [4, 5], [4, 5]]

## 리스트 Lab

In [122]:
w_states = ['CA', 'WA','AZ', 'UT', 'CO']
print(w_states)
e_states = ['NJ', 'MA', 'NY', 'VA', 'PA']
print(e_states)

['CA', 'WA', 'AZ', 'UT', 'CO']
['NJ', 'MA', 'NY', 'VA', 'PA']

In [104]:
w_states.sort()
print(w_states)
w_states.append('NV')
print(w_states)

['AZ', 'CA', 'CO', 'UT', 'WA']
['AZ', 'CA', 'CO', 'UT', 'WA', 'NV']

In [121]:
states = w_states + e_states
states_5 = states[:5]
print(states_5)
states_9 = states[:-3]
print(states_9)
states.index('CO')

['AZ', 'CA', 'CO', 'UT', 'WA']
['AZ', 'CA', 'CO', 'UT', 'WA', 'NV', 'MA', 'NJ', 'NY']

2

### 튜플

In [125]:
#튜플은 리스트와 거의 동일하지만 수정/변경/삭제를 지원하지 않음
a = ()
b = (1, )
c = (1, 2)
d = (1, 2, 3)
e = ('a', 'b')
print(a, b, c, d, e)

() (1,) (1, 2) (1, 2, 3) ('a', 'b')

### 튜플 Lab

In [128]:
regions = [('Northeast', 55.3), ('Midwest', 66.9), ('South', 114.6), ('West', 71.9)]
print(regions)
regions[0][1] + regions[1][1] + regions[2][1] + regions[3][1]

[('Northeast', 55.3), ('Midwest', 66.9), ('South', 114.6), ('West', 71.9)]

308.70000000000005

In [132]:
print("The population of the {Northeast} is {pop} million." .format(Northeast=regions[0][0], pop=regions[0][1]))
print("The population of the {Midwest} is {chocolate} million." .format(Midwest=regions[1][0], chocolate=regions[1][1]))
print("The population of the {South} is {mellow} million.". format(South=regions[2][0], mellow=regions[2][1]))
print("The population of the {West} is {candy} million." .format(West=regions[3][0], candy=regions[3][1]))

The population of the Northeast is 55.3 million.
The population of the Midwest is 66.9 million.
The population of the South is 114.6 million.
The population of the West is 71.9 million.

 ### 딕셔너리

In [144]:
dic = {'name':'Jung', 'phone':'3319'}
print(dic)

{'name': 'Jung', 'phone': '3319'}

In [137]:
dic['name']

'Jung'

In [138]:
dic['phone']

'3319'

In [140]:
dic = {'name':'Jung', 'name':'홍길동'}
dic['name']
#앞에 등장하는 key의 경우 중복되지 않도록 한다. 이 코드는 건너뛰고 진행하였음.

'홍길동'

In [145]:
#key가 무엇이 있나?
dic.keys()

dict_keys(['name', 'phone'])

In [146]:
#value가 무엇이 있나?
dic.values()

dict_values(['Jung', '3319'])

### 불 자료형(bool)

In [151]:
# T / F
# True / False
print(3>1)
print(1>3)

True
False

In [152]:
if []:
    print("참")
else:
    print("거짓")

거짓

# 3장 제어문

## IF 문

In [156]:
money = 1
if money:
    print("돈이 있다")
else:
    print("돈이 엄서")

돈이 있다

In [155]:
money = 0
if money:
    print("돈이 있다")
else:
    print("돈이 엄서")

돈이 엄서

In [ ]:
# 기본 구조
if 조건문:
    수행 문장 1
    수행 문장 2
else:
    수행 문장 A
    수행 문장 B
#Tab 1번 혹은 스페이스바 4번

In [161]:
money = 2000 
card = 1
if money > 3000 or card:
    print("택시를 타자")
else:
    print("걸어가라")

택시를 타자

In [164]:
pocket = ['paper', 'phone', 'card']
if 'money' in pocket:
    print("택시를 타자")
else:
    if card:
        print("택시를 타자")
    else:
        print("걸어 가자")

택시를 타자

In [165]:
#elif를 사용하기
if 'money' in pocket:
    print("택시")
elif 'card' in pocket:
    print("택시")
else:
    print("도보")

택시

In [ ]:
#구문(조건문 5개일시)
if <조건문 1>:
    수행문장1
    수행문장2
elif <조건문2>:
    수행문장
elif <조건문3>:
    수행문장
elif <조건문4>:
    수행문장
else:
    수행문장

## if 문 Lab 1

In [ ]:
my_gpa = float(input('학점 입력:' ''))
if my_gpa >= 4.3:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("당신은 최우수 졸업생 입니다.")
elif my_gpa >= 4.0:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("당신은 우수 졸업생 입니다.")
elif my_gpa >= 2.5:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("졸업은 가능합니다")
else:
    print("당신의 학점은 {my_gpa}입니다." .format(my_gpa=my_gpa))
    print("당신은 졸업할 수 없습니다.")