# 2018년 3월 28일 점프 투 파이썬 2장
## 테스트
- 숫자형
    1. 기능 1
    2. 기능 2
- 문자형
- 리스트

In [6]:
print("세번째 수업")

세번째 수업

## 1절 숫자형

In [11]:
123

123

In [12]:
456

456

In [13]:
1+2

3

In [15]:
2*3

6

In [16]:
7/4

1.75

In [17]:
7//4

1

In [18]:
7%4

3

In [19]:
1-0.9

0.09999999999999998

### Lab 1
#### 수익계산

In [36]:
revenue = 98456
cost = 45000
profit = revenue - cost
print (profit)

53456

## 2절 문자열

In [21]:
boy = "I am a boy"
boy

'I am a boy'

In [22]:
girl = 'I am a girl'
girl

'I am a girl'

In [69]:
friend = """"""

In [68]:
boy + ' ' +girl

'I am a boy I am a girl'

In [43]:
# 문자열 인덱싱
a = "Life is short, You need Python"
a[0:4]

'Life'

In [44]:
a[2:]

'fe is short, You need Python'

In [45]:
a[:15]

'Life is short, '

### lab 2
#### 문자열 다루기

In [54]:
a = "I love python!"
b = "You hate python!"
print(a, b)

I love python! You hate python!

In [55]:
a = "20180328Sunny"
year = a[0:4]
month = a[4:6]
day = a[6:8]
weather = a[8:15]
print(year, month, day, weather)

2018 03 28 Sunny

In [57]:
"year년 month월 day일 weather 입니다."

'year년 month월 day일 weather 입니다.'

In [66]:
print("{year}년 {month}월 {day}일 {weather}입니다." .format(year = year, month = month, day = day, weather = weather))

2018년 03월 28일 Sunny입니다.

## 문자열 내장함수

In [75]:
# 문자 개수 세기
a = "hobby"
a.count("b")

2

In [76]:
# 위치 알려주기
a = "hobby"
a.find("b")

2

In [78]:
# 위치 알려주기
a = "hobby"
a.index("b")

2

In [81]:
# 문자열 삽입하기
a = ", "
a.join("abcd")

'a, b, c, d'

In [83]:
# 대문자로
a = "I love lectures"
a.upper()

'I LOVE LECTURES'

In [84]:
# 소문자로
a = "I LOVE LECTURES"
a.lower()

'i love lectures'

In [86]:
# 우측 공백 제거 (오른쪽은 rstrip, 전부 제거는 strip)
a = "  I love math"
a.lstrip()

'I love math'

In [87]:
# 문자열 나누기
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

## Lab 2 이어서

In [98]:
a = "I love python"
b = "You hate python"
print(a.find("o"), b.index("o"), a.count("o"))

3 1 2

In [96]:
print(a.upper())
print(b.lower())

I LOVE PYTHON
you hate python

In [103]:
a_6 = a[0:7]
print(a_6)
print(a.split())

I love
['I', 'love', 'python']

### Lab 3
#### 문자열 포매팅

In [61]:
pi = 3.141592
sq_root = 1.414129

In [70]:
print("Pi is {pi}, and square root is {sq_root}" .format(pi = pi, sq_root = sq_root))

Pi is 3.141592, and square root is 1.414129

## 3절 리스트